@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(10, 10, 91, 0.907);
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
}

#board {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color:white;
    font-size: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    color: rgb(236, 81, 81);
    background-color: black;
    width: 200px;
    height: 200px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 10px;
    text-align: center;
}

.btn-section {
    margin-top: 20px;
}

button {
    font-family: 'Orbitron';
    color: rgb(224, 224, 251);
    background-color: rgba(10, 10, 91, 0.907);
    border: 1px solid rgb(224, 224, 251);
    border-radius: 5px;
    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(40, 40, 193, 0.907);
}

#start-game-btn {
    margin-top: 50px;
    width: 500px;
    background-color: rgb(7, 130, 7);
}

#start-game-btn:hover {
    background-color: rgb(27, 42, 27);
}